extends layout

block content
    #cy
    #searchform.field
      input#searchterm(type="text" placeholder="Consulte uma palavra!")
      button#search(type="button") Buscar
    script.cssdeck(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js")
