doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/cytoscape.js")
    script(src="/javascripts/graph.js")

  body
    block content
